<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
  var JSON = {
    menu: [
        {
          name: 'Croatia', link: '0', sub: null
        },
        {
          name: 'England', link: '1', sub: [
             { name: 'Arsenal', link: '0-0', sub: null },
             { name: 'Liverpool', link: '0-1', sub: null },
             { name: 'Manchester United', link: '0-2', sub: null }
          ]
        },
        {
          name: 'Spain', link: '2', sub: [
             { name: 'Barcelona', link: '2-0', sub: null },
             { name: 'Real Madrid', link: '2-1', sub: null }
          ]
        },
        {
          name: 'Germany', link: '3', sub: [
             { name: 'Bayern Munich', link: '3-1', sub: null },
             { name: 'Borrusia Dortmund', link: '3-2', sub: null }
          ]
        }
    ]
  }

  $(function () {

    function parseMenu(ul, menu) {
      for (var i = 0; i < menu.length; i++) {
        var li = $(ul).append('<li><a href="' + menu[i].link + '">' + menu[i].name + '</a></li>');
        if (menu[i].sub != null) {
          var subul = $('<ul id="submenu' + menu[i].link + '"></ul>');
          $(li).append(subul);
          parseMenu($(subul), menu[i].sub);
        }
      }
    }

    var menu = $('#menu');
    parseMenu(menu, JSON.menu);


  });
</script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
